.home{
    border-radius:10%;
    padding-top: 1vh;
}
.grow {
    flex: 1;    
}
.main {
    overflow-y: auto;
    
}
.border-button {
    border: solid 5px #FC5185;
    transition: border-width 0.6s linear;
  }
  
.border-button:hover { border-width: 10px; }

svg {
    width: 100%;
  }

.border-50 {
    --bs-border-width: 50px !important;
}
#fullWidth{
    margin: calc(var(--bs-gutter-x) * -.5);
    padding-top: 7vh;
    padding-bottom: 9vh;
  }

  .wave {
    animation: wave 18s linear infinite;
  }

  .wave1 {
    animation: wave1 28s linear infinite;
  }

  .wave2 {
    animation: wave2 34s linear infinite;
  }

  @keyframes wave {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  @keyframes wave1 {
    0% {
      transform: scaleY(1.2) translateX(0%);
    }

    100% {
      transform: scaleY(1.2) translateX(100%);
    }
  }

  @keyframes wave2 {
    0% {
      transform: scaleY(.8) translateX(0%);
    }

    100% {
      transform: scaleY(.8) translateX(100%);
    }
  }